.cajaAbout{
    width: 80vw;
    margin: auto;
    height: 65vh;
    margin-top: 11rem;
    margin-bottom: 3rem;
}

 .aboutme{
    color: #47A7EB;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 3rem;
}

.cajaAbout p {
    color: #084B72;
}

.footerRight a{
    text-decoration: none;
}

@media screen and (min-width: 391px) {

   .cajaAbout{
    margin-top: 3rem;
    margin-bottom: 3rem;
   }
   
  
    }
@media screen and (min-width: 900px) {

   .cajaAbout{
    margin-top: 3rem;
    margin-bottom: 18rem;
   }
   .conteinerButton{
    text-align: left;

   }
  
    }
@media screen and (min-width: 1200px) {

   .cajaAbout{
    margin-top: 3rem;
    margin-bottom: 1rem;
   }

   
  
    }