.contactConteiner{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: 20vh;
}

.contactConteiner .contactDiv{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
   
}

.contactConteiner .contactDiv .logoMail{
   padding-right: 1rem;
   color: red;
}

.h1contacto{
    color: #47A7EB;
}