*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}



.first{
    height: 100vh;
}


.footer{
    align-items: center; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    height: auto;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.footerLeft{
    display: flex;
    padding-left: 1rem;
    align-items: center;
}



.footerRight{
    display: flex;
    padding-right: 1rem;
}

h3{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #084B72;
}

.footerLeft h3{
    color: #084B72;
    position: relative;
    
}

.envolope{
    top: 2px;
}
.aBanner{
    text-decoration: none;
}
.logo{
    font-size: 2rem;
    margin: auto;
    color: #D10000!important;
    text-decoration: none;
}
.linkedin{
    top: 0.1px;
}

/*Banner*/

.banner{
    top: 5rem;
    /* padding-top: 19rem; */
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 6rem;
    width: 80vw;
    height: 70vh;
    text-align: center;
    flex-direction: column;
}

.bannerImg{
    width: 76%;
    border-image: 38px;

}

.bannerImg img{
    /* width: 100%; */
    border-radius: 50%;
    height: 270px;
    /* width: 175px; */
    width: 100%;
}






h1{
    color: #084B72;
    margin: auto;
}

.subtitulo {
    color: #47A7EB;
    font-weight: bold;
    font-size: 1.1rem;
/*     position: relative; */
    left: 4.5px;
    bottom: 1rem;
    margin: auto
    
}




@media screen and (min-width: 768px) {

    .footer{
        justify-content: space-between;
    }

    .banner{
      /* text-align: inherit; */
      display: flex;
      flex-direction: row-reverse;
      /* align-items: center; */
      justify-content: space-evenly;
    }

    .bannerImg{    width: 75%;}

    .banner img{
        width: 53%;
        height: 350px; 
    }

    
.bannerName{width: 67%;
    font-size: 1rem;} 

    .subtitulo{
        font-size: 1.8rem;
    }
  
    }
    