.listProyect{
    width: 80vw;
    margin: auto;

}

.git{
    font-size: 2rem;
}

.iconoProyect{
    text-align: initial;
    color: gray;
    font-size: 20px;
}

.proyect{
    padding: 0rem;
    border-radius: 3rem;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.29);
    margin-bottom: 1rem;
}


.imagenProyecto img{
    width: 100%;
    border-radius: 1rem;
}


.descripcionProyecto{
    padding-top: 1rem
    
}


.descripcionProyecto p{
    width: 100%
}


.pDescription{
    font-size: 22px;
    left: 4.5px;
    bottom: 1rem;
    margin: auto;
}


.techStack .icono{
font-size: 4rem;
padding-right: 10px;

}


.techStack{
    margin-top: 1rem;
    text-align: center;
}


.aButton{
    width: 70%;

}


.git svg{
    padding-top: 2px;
    position: relative;
    top: 8px;
    left: 13px;
}



.buttonProyect{
        border: 1px solid #47A7EB;
        color: #47A7EB;
        background-color: white;
        padding: 10px;
        margin-left: 16px;
        margin-top: 15px;
        width: 38%;
        transition: 100ms;
    }
    
.buttonProyect:hover{

    color: white;
    background-color: #47A7EB;
 
}

@media screen and (min-width:750px){
    
    .listProyect{
        margin-top: 9rem;
    }
    .iconoProyect{
        padding-left: 10px;
    }
}

@media screen and (min-width: 821px) {


    .proyect{
        display: flex;
        flex-wrap: wrap;
        padding: 0rem;
        border-radius: 3rem;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0,.29);
        margin: 30px;
    }

    .imagenProyecto{
        width: 45%;
        padding: 1rem;
       
    }

    .descripcionProyecto{
        width: 45%;
        padding: 1rem;
    }

    .techStack{
        margin-top: 1rem;
        align-items: center;
    }


    .buttonProyect{
        border: 1px solid #47A7EB;
        color: #47A7EB;
        background-color: white;
        padding: 10px;
        margin-left: 1rem;
        width: 38%;
        transition: 100ms;
    }
    
    }
