.listProyect{
    width: 80vw;
    margin: auto;
    height: 95vh;
}



.proyect{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
    border-radius: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.29);
    margin: 30px;
}

.imagenProyecto{
    width: 45%;
    padding: 1rem;
   
}

.imagenProyecto img{
    width: 100%;
    border-radius: 1rem;
}

.descripcionProyecto{
    width: 45%;
    padding: 1rem;
}

.descripcionProyecto p{
    width: 100%
}

.pDescription{
    font-size: 22px;
    left: 4.5px;
    bottom: 1rem;
    margin: auto;
}

.techStack .icono{
font-size: 4rem;
padding-right: 10px;

}

.techStack{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.aButton{
    width: 70%;
}

.buttonProyect{
    border: 1px solid #47A7EB;
    color: #47A7EB;
    background-color: white;
    padding: 10px;
    margin-left: 1rem;
    width: 38%;
    transition: 100ms;
}
.buttonProyect:hover{

    color: white;
    background-color: #47A7EB;
 
}

